layout {
    cwd "."

    pane_template name="base_pane" {
        borderless true
    }

    default_tab_template split_direction="horizontal" {
        base_pane size=1 {
            plugin location="zellij:tab-bar"
        }

        children

        base_pane size=1 {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Editor" focus=true {
        pane split_direction="vertical" {
            base_pane {
                name "Editor"
                focus true
                size "100%"
                command "nvim"
                args "."
                close_on_exit false
            }
        }
    }

    tab name="Terminal" {
        pane split_direction="vertical" {
            base_pane name="Commands"
            base_pane name="Runner"
        }
    }
}
