layout {
    cwd "."

    pane_template name="borderless_pane" {
        borderless true
    }

    default_tab_template split_direction="horizontal" {
        borderless_pane size=1 {
            plugin location="zellij:tab-bar"
        }

        children

        borderless_pane size=1 {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Editor" focus=true {
        pane split_direction="vertical" {
            borderless_pane {
                name "Editor"
                focus true
                edit "."
                size "100%"
            }
        }
    }

    tab name="Terminal" {
        pane split_direction="vertical" {
            borderless_pane name="Commands"
            borderless_pane name="Runner"
        }
    }
}
