[user]
	email = rencedm112@gmail.com
	name = Clarence Manuel

[core]
	editor = vi

[diff]
        tool = meld
[difftool "meld"]
        path = /usr/bin/meld
        cmd = meld \"$LOCAL\" \"$REMOTE\"
[difftool]
        prompt = false
        keepBackup = false
        trustExitCode = false

[merge]
	tool = meld
	ff = false
[mergetool]
        prompt = false
        keepBackup = false
        keepTemporaries = false
[mergetool "meld"]
        path = usr/bin/meld
	    cmd = meld \"$LOCAL\" \"$BASE\" \"$REMOTE\" -o \"$MERGED\"
[init]
	defaultBranch = main
