* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Hack NF", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: none;
  background-color: transparent;
  border: none;
  color: #ffffff;
  transition: none;
  padding: 0px;
  margin: 0px;
}

tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

/**
* Semi Transparent Black Background + Horizontal Padding + White Text + Sharp Corners
*/
#workspaces button,
#scratchpad,
#mode {
  padding: 0 4px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

/**
* Semi Transparent White Background
*/
#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/**
* White Bottom Border
*/
#workspaces button.focused,
#mode {
  box-shadow: inset 0 -3px #ffffff;
}

#scratchpad.empty {
  background-color: transparent;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

.modules-right,
#window {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-radius: 8px;
  padding: 0px 8px;
}

.modules-right > * > *,
.modules-left > * > * {
  padding: 0px 8px;
}

.modules-left > * > *:first-child {
  padding-left: 0px;
}

.modules-right > * > *:last-child {
  padding-right: 0px;
}

#battery.charging,
#battery.plugged {
  color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: #f53c3c;
}

#pulseaudio {
  color: #f1c40f;
}

#pulseaudio.muted {
  color: #90b1b1;
}

#wireplumber {
  color: #fff0f5;
}

#wireplumber.muted {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  color: #66cc99;
}

#eustom-media.custom-vlc {
  color: #ffa000;
}

#temperature {
  color: #f0932b;
}

#temperature.critical {
  color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#mpd {
  color: #66cc99;
}

#mpd.disconnected {
  color: #f53c3c;
}

#mpd.stopped {
  color: #90b1b1;
}

#mpd.paused {
  color: #51a37a;
}
