* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Hack NF", Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
}

window#waybar {
  background-color: transparent;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button,
#mode {
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused,
#mode {
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/**
* Rounded Corner + Semi Transparent Black Background  + Padding
*/
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#language,
#idle_inhibitor,
#scratchpad,
#mpd,
#battery,
#window {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 0 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* #clock { */
/*   background-color: #64727d; */
/* } */

#battery {
  color: #ffffff;
}

#battery.charging,
#battery.plugged {
  color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  color: #f1c40f;
}

#pulseaudio.muted {
  color: #90b1b1;
}

#wireplumber {
  color: #fff0f5;
}

#wireplumber.muted {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#eustom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  color: #f0932b;
}

#temperature.critical {
  color: #eb4d4b;
}

/* #tray { */
/*   background-color: #2980b9; */
/* } */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* #idle_inhibitor { */
/*   background-color: #2d3436; */
/* } */
/**/
/* #idle_inhibitor.activated { */
/*   background-color: #ecf0f1; */
/*   color: #2d3436; */
/* } */

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

/* #language { */
/*   background: #00b093; */
/*   color: #740864; */
/*   padding: 0 5px; */
/*   margin: 0 5px; */
/*   min-width: 16px; */
/* } */

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
