@import url("../common/colors.css");

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "NotoSansM Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: none;
  background-color: transparent;
  border: none;
  color: @foreground;
  transition: none;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
}

tooltip,
window.popup {
  background-color: @background-alpha;
  border-radius: 8px;
  border: 1px solid @background;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

/**
* Semi Transparent Black Background + Horizontal Padding + White Text + Sharp Corners
*/
#workspaces button,
#scratchpad,
#mode {
  padding: 0 4px;
  border-radius: 0px;
  background-color: @background-alpha;
  color: @foreground;
}

/**
* Semi Transparent White Background
*/
#workspaces button:hover {
  background-color: @selection;
}

/**
* White Bottom Border
*/
#mode {
  box-shadow: inset 0 -3px @purple;
}

#workspaces button.focused {
  background-color: @purple;
  box-shadow: inset 0 -3px @foreground;
}

#workspaces button.focused label {
  color: @background;
}

#scratchpad.empty {
  background-color: transparent;
}

#workspaces button.urgent {
  background-color: @red;
}

.modules-right,
#window {
  background-color: @background-alpha;
  color: @foreground;
  border-radius: 8px;
  padding: 0px 8px;
}

.modules-right > * > *,
.modules-left > * > * {
  padding: 0px 8px;
}

.modules-left > *:first-child > *:first-child {
  padding-left: 0px;
}

.modules-right > *:last-child > *:last-child {
  padding-right: 0px;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

@keyframes blink {
  to {
    background-color: @foreground;
    color: @background;
  }
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  color: @yellow;
}

#pulseaudio.muted {
  color: @cyan-muted;
}

#wireplumber {
  color: @foreground;
}

#wireplumber.muted {
  color: @red;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  color: #66cc99;
}

#eustom-media.custom-vlc {
  color: #ffa000;
}

#temperature {
  color: #f0932b;
}

#temperature.critical {
  color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#mpd {
  color: @red;
}

#mpd.disconnected {
  color: @red;
}

#mpd.stopped {
  color: @cyan-muted;
}

#mpd.paused {
  color: @green;
}

/**
* Tooltip
*/
tooltip label {
  padding: 4px;
}

/**
* Popup Menu
*/
menuitem {
  padding: 4px 0px;
  border-radius: 8px;
}

menuitem:hover {
  background-color: @selection;
}

menuitem:disabled label {
  color: @comment;
}

menu {
  padding: 4px;
  border-radius: 8px;
}

separator {
  background-color: @comment;
  margin: 4px 0px;
}

check {
  padding: 0px 4px;
}
